{% extends 'base.html.twig' %}

{% block title %}{{ titleForm }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 alone" id="leftbar">
            <h2>{{ titleForm }}</h2>
            
            {{ form(profileForm) }}
        </div>

        <div class="col-md-3"></div>
    </div>
{% endblock %}