/* ADMINPANEL STYLESHEET */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* variable */
/* variable end */
/* settings */
* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

i {
  margin-left: 7px;
}

#nav-left i {
  margin-right: 7px;
  margin-left: 0;
}

#m-nav-left i {
  margin-right: 0;
  margin-left: 0;
}

#m-nav-left #m-toggle-nav-left i {
  margin-right: 7px;
}

.btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  transition-duration: 0.5s;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

.btn-success {
  background: #9bf09f;
}

.btn-danger {
  background: #ff8c8c;
}

.btn-primary {
  background: #9be3f0;
}

.help {
  position: absolute;
  font-size: 0.8rem;
  background: #d1d1d1;
  border-radius: 5px;
  border: 2px solid #000;
  text-decoration: none;
  padding: 0 10px;
  color: #000000;
}

a {
  text-decoration: none;
}

/* settings end */
/* header */
header {
  height: 50px;
  width: 100%;
  background: #535353;
}

header #main-nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header #main-nav .logo-container {
  margin: 0;
  padding: 0;
  width: 150px;
}

header #main-nav .logo-container .logo {
  display: block;
  margin: 0 auto;
  height: 50px;
}

header #main-nav .nav-container {
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

header #main-nav .nav-container .nav-item {
  display: block;
  list-style: none;
  flex: 1;
}

header #main-nav .nav-container .nav-item .nav-link {
  display: block;
  text-decoration: none;
  padding: 15px 0;
  background: #8d8d8d;
  color: black;
}

header #main-nav .nav-container .nav-item .nav-link:hover {
  transition-duration: 0.5s;
  background: #ff8c8c;
  color: white;
}

/* header end */
/* main */
body {
  margin: 0;
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
}

main #nav-left {
  background: #6c6c6c;
  width: 350px;
  display: block;
}

main #nav-left #toggle-nav-left {
  font-size: 1.3rem;
  color: #c4c4c4;
  width: 100%;
  display: block;
  text-align: right;
  padding: 3px 0;
}

main #nav-left #toggle-nav-left i:hover {
  color: #9a9a9a;
}

main #nav-left .nav-container {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

main #nav-left .nav-container .nav-item {
  list-style: none;
  flex: 1;
  width: 100%;
  text-align: center;
}

main #nav-left .nav-container .nav-item .nav-link {
  text-decoration: none;
  display: block;
  padding: 16px 0;
}

main #nav-left .nav-container .dropdown {
  background: #d1d1d1;
  text-align: left;
  cursor: pointer;
}

main #nav-left .nav-container .dropdown:hover {
  transition-duration: 0.5s;
  background: #9f9f9f;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

main #nav-left .nav-container .dropdown .dd-active {
  font-weight: bold;
  background: #9f9f9f;
}

main #nav-left .nav-container .dropdown > .nav-link {
  padding-left: 15px;
  color: black;
}

main #nav-left .nav-container .dropdown > .nav-link:hover {
  transition-duration: 0.5s;
  color: #ddd;
}

main #nav-left .nav-container .dropdown .nav-container {
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
  background: #9f9f9f;
}

main #nav-left .nav-container .dropdown .nav-container .nav-item .nav-link {
  color: black;
}

main #nav-left .nav-container .dropdown .nav-container .nav-item .nav-link:hover {
  transition-duration: 0.5s;
  color: #navLeftDropdown_hoverColor;
  font-weight: bold;
}

main #main-container {
  width: 100%;
  min-width: 300px;
  background: #c0c0c0;
  padding: 15px;
}

main #main-container .table-container {
  overflow-x: auto;
}

main #main-container .table-container .table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
  border: 2px solid black;
}

main #main-container .table-container .table td, main #main-container .table-container .table th {
  padding: 7px 5px;
  text-align: center;
}

main #main-container .table-container .table td {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

main #main-container .table-container .table td:first-child {
  border-left: none;
}

main #main-container .table-container .table td i {
  font-size: 1.3rem;
}

main #main-container .table-container .table td a:first-child:hover i {
  transition-duration: 0.5s;
  color: #4ea6e7;
}

main #main-container .table-container .table td a:first-child i {
  color: #1d88d8;
}

main #main-container .table-container .table td a:last-child:hover i {
  transition-duration: 0.5s;
  color: #e7474b;
}

main #main-container .table-container .table td a:last-child i {
  color: #e22529;
}

main #main-container .table-container .table th {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  background: #535353;
  color: white;
}

main #main-container .table-container .table th:first-child {
  border-left: none;
}

main #main-container .table-container .table tbody tr:nth-child(even) {
  backgorund: #6c6c6c;
}

main #main-container .table-container .table tbody tr:nth-child(odd) {
  background: #d1d1d1;
}

main #main-container .table-container .table tbody tr:last-child td {
  border-bottom: none;
}

main #main-container form {
  max-width: 750px;
  margin: 0 auto 50px auto;
  border: 2px solid #535353;
  border-radius: 5px;
  padding: 7px;
  background: #d1d1d1;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.5);
}

main #main-container form > div {
  padding: 5px;
}

main #main-container form > div .form-group {
  display: flex;
  width: 100%;
}

main #main-container form > div .form-group label {
  flex: 1;
  padding: 7px 0;
  text-align: right;
  margin: 0 10px 0 0;
}

main #main-container form > div .form-group input, main #main-container form > div .form-group select, main #main-container form > div .form-group textarea {
  flex: 2;
  padding: 7px 10px;
  border-radius: 5px;
  outline: none;
  background: #ddd;
  border: 2px solid #535353;
  margin: 0 0 7px 0;
}

main #main-container form > div .form-group input:focus, main #main-container form > div .form-group select:focus, main #main-container form > div .form-group textarea:focus {
  border: 2px solid #535353;
  background: #9f9f9f;
  color: #fff;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

main #main-container form > div .form-group input:hover, main #main-container form > div .form-group select:hover, main #main-container form > div .form-group textarea:hover {
  transition-duration: 0.5s;
  border-color: #535353;
  background: #9f9f9f;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

main #main-container form > div .form-group select {
  margin: 0 7px 7px 0;
}

main #main-container form > div fieldset {
  padding: 15px;
  margin: 15px 10px 25px 0;
  display: flex-block;
}

main #main-container form > div fieldset > div {
  display: flex;
  justify-content: center;
}

main #main-container form > div .custom-file {
  width: 100%;
}

main #main-container form > div .form-group > .form-group {
  flex: 2;
}

main #main-container form .form-group-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main #main-container form .form-group-row .form-group {
  flex: 0;
  margin: 0 10px 0 0;
}

/* main end */
/* footer */
footer {
  position: absolute;
  bottom: 0;
  background: #535353;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
}

/* footer end */
/* main */
main {
  display: flex;
  flex-direction: row;
}

main #m-nav-left {
  background: #6c6c6c;
  width: 50px;
  display: none;
}

main #m-nav-left #m-toggle-nav-left {
  font-size: 1.3rem;
  color: #c4c4c4;
  width: 100%;
  display: block;
  text-align: right;
  padding: 3px 0;
}

main #m-nav-left #m-toggle-nav-left i:hover {
  transition-duration: 0.5s;
  color: #9a9a9a;
}

main #m-nav-left .m-nav-container {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

main #m-nav-left .m-nav-container .m-nav-item {
  list-style: none;
  flex: 1;
  width: 100%;
  text-align: center;
}

main #m-nav-left .m-nav-container .m-nav-item .m-nav-link {
  text-decoration: none;
  display: block;
  padding: 15px 0;
}

main #m-nav-left .m-nav-container .dropdown {
  background: #d1d1d1;
  text-align: center;
  cursor: pointer;
}

main #m-nav-left .m-nav-container .dropdown:hover {
  transition-duration: 0.5s;
  background: #9f9f9f;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

main #m-nav-left .m-nav-container .dropdown .m-dd-active {
  background: #9f9f9f;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}

main #m-nav-left .m-nav-container .dropdown .m-dd-active i {
  color: #ddd;
}

main #m-nav-left .m-nav-container .dropdown > .m-nav-link {
  color: black;
}

main #m-nav-left .m-nav-container .dropdown > .m-nav-link:hover {
  color: #ddd;
}

main #m-nav-left .m-nav-container .dropdown .m-nav-container {
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
  background: #9f9f9f;
}

main #m-nav-left .m-nav-container .dropdown .m-nav-container .m-nav-item .m-nav-link {
  color: black;
}

main #m-nav-left .m-nav-container .dropdown .m-nav-container .m-nav-item .m-nav-link:hover {
  transition-duration: 0.5s;
  color: #ddd;
}

@media only screen and (max-width: 1200px) {
  main #nav-left {
    display: none;
  }
  main #m-nav-left {
    display: block;
  }
}
