{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Homepage {% endblock %}

{% block body %}

        <div class="row">
                {% block leftside %}
                    {% include 'leftsidebar.html.twig' %}
                {% endblock %}
            </div>

            <div class="col-md-6">
                {% block mainsection %}
                    {% include 'mainsection.html.twig' %}
                {% endblock %}
            </div>

            <div class="col-md-3" id="rightbar">
                {% block rightside %}
                    {% include 'rightsidebar.html.twig' %}
                {% endblock %}
            </div>
        </div>

{% endblock %}

