    <div id="wrapper" class="column">
    
            <header>

                <nav id="main-nav" class="row">
                    <figure class="logo-container">
                        <img class="logo" src="{{ asset('/img/logo.png') }}" alt="StripStrap.com">
                    </figure>
                    
                    <ul class="nav-container">
                        <li class="nav-item"><a href="#" class="nav-link">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                </nav>

            </header>
            <main class="row">

                    <section id="nav-left">
        
                        <a id="toggle-nav-left"><i class="fas fa-chevron-circle-left"></i></a>
        
                        <ul class="nav-container column">
                            <li class="nav-item dropdown"><a class="nav-link"><i class="fas fa-users"></i> User management</a>
                                <ul class="nav-container hidden">
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-list-ul"></i> List all users</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-plus-circle"></i> Add a user</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown"><a class="nav-link"><i class="fas fa-newspaper"></i> Post management</a>
                                <ul class="nav-container hidden">
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-list-ul"></i> List all posts</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown"><a class="nav-link"><i class="fas fa-gamepad"></i> Game management</a>
                                <ul class="nav-container hidden">
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-list-ul"></i> List all games</a></li>
                                    <li class="nav-item"><a href="{{ path ("admin_game") }}" class="nav-link"><i class="fas fa-plus-circle"></i> Add a game</a></li>
                                </ul>
                            </li>
                        </ul>
        
                    </section>
                    
                    <section id="m-nav-left">
        
                        <a id="m-toggle-nav-left"><i class="fas fa-chevron-circle-right"></i></a>
        
                        <ul class="m-nav-container column">
                            <li class="m-nav-item dropdown"><a class="m-nav-link"><i class="fas fa-users"></i></a>
                                <ul class="m-nav-container hidden">
                                    <li class="m-nav-item"><a href="#" class="m-nav-link"><i class="fas fa-list-ul"></i></a></li>
                                    <li class="m-nav-item"><a href="#" class="m-nav-link"><i class="fas fa-plus-circle"></i></a></li>
                                </ul>
                            </li>
                            <li class="m-nav-item dropdown"><a class="m-nav-link"><i class="fas fa-newspaper"></i></a>
                                <ul class="m-nav-container hidden">
                                    <li class="m-nav-item"><a href="#" class="m-nav-link"><i class="fas fa-list-ul"></i></a></li>
                                </ul>
                            </li>
                            <li class="m-nav-item dropdown"><a class="m-nav-link"><i class="fas fa-gamepad"></i></a>
                                <ul class="m-nav-container hidden">
                                    <li class="m-nav-item"><a href="#" class="m-nav-link"><i class="fas fa-list-ul"></i></a></li>
                                    <li class="m-nav-item"><a href="#" class="m-nav-link"><i class="fas fa-plus-circle"></i></a></li>
                                </ul>
                            </li>
                        </ul>
        
                    </section>