{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="" alt="picture">
            
            <div class="card-body">
                <h5 class="card-title">Name - Level</h5>
                <p class="card-text">Detail</p>
                <a href="#" class="btn btn-success">Discover me</a>
            </div>

        </div>
    </div>

{% endblock %}