{% extends 'Admin/base.html.twig' %}

{% block title %}{{ parent() }}Game Admin Panel{% endblock %}

{% block body %}

        
        <section id="main-container">

           {{ form(game_add) }}
        
        </section>
        
{% endblock %}